<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности - CinemaSIte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        p {
            color: #666;
            line-height: 1.6;
        }
    </style>
</head>
<body>

    <div class="container">
        <h1>Политика конфиденциальности</h1>
        <p>Добро пожаловать на CinemaSIte!</p>
        <p>Мы обязуемся защищать вашу конфиденциальность и обеспечивать вас положительным опытом на нашем веб-сайте. Настоящая Политика конфиденциальности описывает, как мы собираем, используем и защищаем вашу персональную информацию.</p>
        <p><strong>Какую информацию мы собираем?</strong></p>
        <p>Мы собираем информацию, которую вы предоставляете добровольно через формы, опросы или другие взаимодействия с нашим веб-сайтом. Эта информация может включать ваше имя, адрес электронной почты, номер телефона и любые другие детали, которые вы предоставляете.</p>
        <p><strong>Как мы используем вашу информацию?</strong></p>
        <p>Мы используем собранную информацию для:</p>
        <ul>
            <li>Предоставления и поддержания наших услуг</li>
            <li>Ответа на ваши запросы и заявки</li>
            <li>Персонализации вашего опыта на нашем веб-сайте</li>
            <li>Улучшения нашего веб-сайта и услуг</li>
            <li>Отправки вам рекламных сообщений</li>
        </ul>
        <p><strong>Как мы защищаем вашу информацию?</strong></p>
        <p>Мы применяем различные меры безопасности для обеспечения сохранности вашей персональной информации при ее вводе, отправке или доступе.</p>
        <p><strong>Мы используем файлы cookie?</strong></p>
        <p>Мы используем файлы cookie для улучшения вашего опыта на нашем веб-сайте. Вы можете отключить файлы cookie через настройки вашего браузера, но это может повлиять на функциональность определенных функций.</p>
        <p><strong>Изменения в нашей Политике конфиденциальности</strong></p>
        <p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Все изменения будут опубликованы на этой странице, и дата последнего обновления будет указана вверху страницы.</p>
        <p>Если у вас есть вопросы или замечания по поводу нашей Политики конфиденциальности, пожалуйста, <a href="/contact">свяжитесь с нами</a>.</p>
    </div>

</body>
</html>